# Brought by ansible

## ##[galera]
## ##wsrep_on=ON
## ##wsrep_provider=/usr/lib64/galera/libgalera_smm.so
## ##wsrep_provider_options="gcache.size=4G; gcache.page_size=4G"
## ##wsrep_cluster_name="dbmkc"
## ##wsrep_cluster_address="gcomm://10.9.11.1,10.9.11.2,10.9.11.3"
## ##wsrep_sst_method=rsync
## ##binlog_format=row
## ##bind-address=0.0.0.0

[mysqld]
datadir=/var/lib/mysql
default_storage_engine=innodb
innodb_autoinc_lock_mode=2
# innodb_buffer_pool_size=8G
# Unknown parameter
# innodb_defragment=1
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=0
# innodb_log_file_size=4G
long_query_time=1
max_allowed_packet=37M
max_connections=4096
max_heap_table_size=512M
query_cache_type=1
query_cache_limit=64M
query_cache_min_res_unit=1K
query_cache_size=256M
slow_query_log=1
slow_query_log_file=/var/lib/mysql/slow.log
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
table_open_cache=100
thread_cache_size=20
# tmpdir=/var/tmp/mysql
tmp_table_size=512M
user=mysql
lower_case_table_names = {{ mariadb_mysqld_lower_case_table_names | default('0') | int }}
wait_timeout = {{ mariadb_mysqld_wait_timeout | default('3600') }}

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

## ##
## ## include all files from the config directory
## ##
## #!includedir /etc/my.cnf.d


